@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

.blinking-cursor {
  display: inline-block;
  width: 2px;
  background: currentColor;
  height: 1em;
  animation: blink 0.9s step-end infinite;
  transform: translateY(2px);
}

